.feed{
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 100px;

	min-height: 1000px;
}
.feed h6{
	border: 1px solid black;
	padding: 5px;
}

.heading{
	margin-left: 100px;
	margin-top:20px;
}

.new-meow{
	margin-left: 100px;
	margin-top:20px;
	width:100%;
}